section {
    display: flex;
    flex-direction: column;
}

.home-title {
    text-align: center;
    margin: 32px 16px;
}

#middle {
    background-color: black;
    color: white;
}

#bottom {
    background-color: black;
    color: white;
    align-items: center;
    gap: 18px;
    padding-top: 18px;
}

.card {
    background-color: black;
}