nav {
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 0 36px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

#store-name {
    font-style: italic;
}

#link-list {
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 64px;
    margin: 0;
}

a {
    display: flex;
    align-items: center;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
}

a:hover, a:active {
    color: white;
    text-decoration: underline;
}

#cart-div {
    display: flex;
    gap: 16px;
}

#cart-display {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    width: 2em;
    background-color: rgb(255, 19, 66);
    border-radius: .5em;
}